:root {
    --side-padding: 150px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

header, .container {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

header .contact-area {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar a.logo-link {
    display: flex;
    align-items: flex-end;

    font-size: 1.7em;
    color: #000;
    font-weight: bold;
}

.toolbar a.logo-link:hover {
    opacity: 0.8;
    transition: .2s;
}

.toolbar a.logo-link img {
    width: 150px;
}

.toolbar .link-ruby {
    font-size: 0.8em;
}

.toolbar .link-name {
    font-size: 1.26em;
    /*font-weight: 600;*/
}

nav ul {
    display: flex;
}

.toolbar nav li {
    padding: 10px 28px 6px;
    border: 1px solid #ddd;
    border-bottom-width: 5px;
    text-align: center;
}

nav li:hover {
    opacity: 0.6;
    transition: all .2s;
}

nav li:nth-of-type(1) {
    border-bottom-color: #76BD48;
}

nav li:nth-of-type(1) a {
    color: #76BD48;
}

nav li:nth-of-type(2) {
    border-bottom-color: #3797F2;
}

nav li:nth-of-type(2) a{
    color: #3797F2;

}

nav li:nth-of-type(3) {
    border-bottom-color: #FAA62F;
}

nav li:nth-of-type(3) a {
    color: #FAA62F;
}

nav li:nth-of-type(4) {
    border-bottom-color: #9281B4;
}

nav li:nth-of-type(4) a {
    color: #9281B4;
}

nav li:nth-of-type(5) {
    border-bottom-color: #FE6D63;
}

nav li:nth-of-type(5) a {
    color: #FE6D63;
}

.top-img-container {
    width: 100%;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    height: 70vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(108, 192, 78, 0.08);
}

.top-img {
    height: 100%;
    background: url(img/top.jpg) no-repeat center;
    background-size: cover;
}

.nav-btn {
    display: none;
}

main, aside {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

main {
    width: 75%;
    padding: 15px;
    font-size: 1.1em;
}

main > section {
    margin-bottom: 30px;
}

aside {
    padding: 20px 15px;
    width: 22%;
}

h1 {
    margin: 0;
    font-size: 1.3em;
    border-left-width: 5px;
    border-left-style: solid;
    padding: 4px 10px;
}

h1#mission {
    border-left-color: #76BD48;
}

h1#sdgs-activity {
    border-left-color: #3797F2;
}

h1#member {
    border-left-color: #FAA62F;
}

h1#career {
    border-left-color: #9281B4;
}

h1#activities {
    border-left-color: #FE6D63;
}

p.mission-statement {
    background: rgba(108, 192, 78, 0.08);
    color: #039C6D;
    --p-padding: 25px;
    padding-top: var(--p-padding);
    padding-bottom: var(--p-padding);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.mission-step {
    background: url(img/gray-stripe.png);
    background-size: 15px 15px;
    border: 3px solid #318BBE;
    border-radius: 10px;
    padding: 10px 20px;
}

.mission-step .step-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mission-step .step-area > div:nth-of-type(1), .mission-step > div:nth-of-type(2) {
    align-self: flex-start;
    margin-top: 10px;
}

.mission-step .description {
    font-size: 1.3em;
}

.description .minus {
    color: #1E65A5;
    font-weight: bold;
}

.description .zero {
    font-weight: bold;
}

.description .plus {
    color: #FE6D63;
    font-weight: bold;
}

.mission-step button {
    background: #035FA8;
    border: none;
    border-bottom: 3px solid #055392;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    font-size: 1.05em;
    margin-left: 30px;
}

.step-area p {
    margin-left: 20px;
    font-size: 1.2em;
}

.slash {
    height: 70px;
    border-left: 4px solid #000;
    transform: skew(-40deg);
}

.step {
    font-size: 1.3em;
    font-weight: bold;
}

.step b {
    font-size: 1.2em;
}

aside img {
    margin-bottom: 10px;
}

footer .company-info {
    background: #F2F2F3;
}

footer .company-info > div {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .company-info .company-name {
    font-size: 1.3em;
    font-weight: bold;
}

footer .company-info .sns-area {
    margin-left: 50%;
}

footer .company-info .sns-area > img {
    margin-right: 8px;
}

footer .copyright {
    background: #000;
    color: #fff;
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:center;
}

@media (max-width: 768px) {
    header, .top-img-container {
        padding: 0;
    }

    .contact-area {
        display: none;
    }

    nav {
        max-height: 0;
        position: absolute;
        /*top: -50%;*/
        /*left: 0;*/
        top: 50px;
        left: 0;
        transition: .5s;
        overflow-y: hidden;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.92);
        top: 0;
    }

    .toolbar nav li {
        box-sizing: border-box;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        /*color: #fff !important;*/
        border: none !important;
    }

    nav li:not(:last-of-type) {
        border-bottom: 1px solid #c9c9c9 !important;
    }

    .toolbar a.logo-link {
        font-size: 1.4em;
    }

    .open nav {
        /*top: 50%;*/
        max-height: calc(100vh - 50px);
    }

    .nav-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        padding: 13px 8px;
        z-index: 2;
    }

    .nav-btn div {
        background: #996633;
        width: 26px;
        height: 2px;
        transition: .3s;
    }

    .toolbar a.logo-link img {
        width: 35%;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .step-area img {
        width: 50%;
    }

    .step-area {
        font-size: 0.7em;
    }

    .mission-step .step-area:not(:last-of-type) {
        border-bottom: 1px solid #318BBE;
        padding-bottom: 15px;

    }

    .step-area button {
        padding: 5px 10px;
    }

    main, aside {
        width: 95%;
    }

    footer .company-info > div {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    footer .company-info .sns-area {
        margin-top: 10px;
        margin-left: 0;
    }
}
